@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'SchoolSafetyManitto';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2511-1@1.0/HakgyoansimManitoR.woff2') format('woff2');
    font-weight: normal;
    font-display: swap;
}

body {
    font-family: "SchoolSafetyManitto";
}

@keyframes scroll-bg {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(-50%);
    }
}

.animate-scroll-bg {
    animation: scroll-bg 4s linear infinite;
    /* Adjust 10s to change speed */
}

@keyframes float {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-10px);
    }
}

.animate-float {
    animation: float 2s ease-in-out infinite;
}

@keyframes fade-up {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.animate-fade-up {
    opacity: 0;
    /* Start hidden */
    animation: fade-up 0.8s ease-out forwards;
}